In [42]:
import pandas as pd
import json
from datetime import datetime
from ast import literal_eval

In [43]:
#loading the json file into a dataframe
receipts = pd.read_json(r'receipts.json', lines=True, encoding='utf-8')

In [44]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [45]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [46]:
#The Dates here are in UNIX timestamp inside the dictionary field.
#This function converts the value into datetime format
def date_converter(x):
  try:
    return(datetime.utcfromtimestamp(int(x['$date'])/1000).strftime('%Y-%m-%d %H:%M:%S'))
  except TypeError:
    return(None)

In [47]:
receipts['createDate'] = receipts['createDate'].apply(lambda x: date_converter(x))
receipts['dateScanned'] = receipts['dateScanned'].apply(lambda x: date_converter(x))
receipts['finishedDate'] = receipts['finishedDate'].apply(lambda x: date_converter(x))
receipts['modifyDate'] = receipts['modifyDate'].apply(lambda x: date_converter(x))
receipts['pointsAwardedDate'] = receipts['pointsAwardedDate'].apply(lambda x: date_converter(x))
receipts['purchaseDate'] = receipts['purchaseDate'].apply(lambda x: date_converter(x))

In [48]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,5.0,2021-01-03 00:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [49]:
#total null values per column
receipts.isnull().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [50]:
# Calculate the percentage of null values in each column
null_percentage = receipts.isnull().mean() * 100
print(null_percentage)

_id                         0.000000
bonusPointsEarned          51.385165
bonusPointsEarnedReason    51.385165
createDate                  0.000000
dateScanned                 0.000000
finishedDate               49.240393
modifyDate                  0.000000
pointsAwardedDate          52.010724
pointsEarned               45.576408
purchaseDate               40.035746
purchasedItemCount         43.252904
rewardsReceiptItemList     39.320822
rewardsReceiptStatus        0.000000
totalSpent                 38.873995
userId                      0.000000
dtype: float64

### Data Quality Issues: Missing Values
Upon reviewing the dataset, we have identified several columns with a significant proportion of missing values, which could impact the accuracy and completeness of analysis. Below are the key observations:

Finished Date: Approximately 50% of the records have missing values in the "Finished Date" column. This lack of completion timestamps may hinder our ability to track the lifecycle of receipts accurately.

Points Awarded Date: 52% of user records lack a "Points Awarded Date." This missing data creates challenges when attempting to understand when points were granted to users and could affect analysis related to points distribution.

Points Earned: Around 45% of the "Points Earned" values are missing. Notably, the column also contains a NaN value instead of a 0 when points are not awarded. This suggests that the data may not have been captured correctly, or that 0 points are stored as NaN, which could lead to inconsistencies in reporting and analysis.

Purchased Item Count & Rewards Receipt Item List: Both of these columns exhibit a large proportion of missing values. This presents a significant challenge for understanding the number of items purchased by users or the details of the rewards items they have redeemed. These gaps hinder our ability to identify trends and perform meaningful analysis in these areas.

Total Spent: Approximately 38% of the "Total Spent" values are missing. This is a critical issue, as missing expenditure data compromises the integrity of any financial or spending-related analysis, potentially leading to inaccurate insights on customer behavior.

### Summary & Next Steps:
The presence of missing data across several key columns raises concerns regarding the completeness and accuracy of the dataset.
Addressing these missing values is crucial to ensure reliable analysis, especially in areas like user behavior, rewards, and spending patterns.
I recommend further investigation into the cause of the missing data, followed by appropriate data imputation or other corrective measures to improve the quality of the dataset.

In [52]:
#Unique values
receipts.pointsEarned.unique()

array([5.00000e+02, 1.50000e+02, 5.00000e+00, 7.50000e+02, 2.50000e+02,
       1.00000e+02, 8.85000e+03, 3.00000e+02,         nan, 3.89200e+02,
       1.85000e+02, 3.50000e+01, 6.50000e+02, 5.50000e+01, 5.00000e+01,
       3.55000e+02, 6.00000e+02, 1.75000e+03, 3.50000e+02, 2.25000e+02,
       2.75000e+02, 2.50000e+01, 7.55000e+02, 1.80000e+03, 8.10000e+02,
       3.05000e+02, 9.44980e+03, 9.12000e+01, 8.25000e+02, 3.50600e+02,
       1.25000e+02, 7.93100e+02, 2.00000e+02, 3.25000e+03, 0.00000e+00,
       4.00500e+03, 2.00500e+03, 8.41200e+02, 5.75000e+03, 3.75000e+03,
       8.70000e+03, 7.60000e+02, 7.80000e+02, 9.20000e+03, 1.00500e+03,
       1.99960e+03, 1.89200e+02, 8.95000e+03, 8.85000e+02, 8.00000e+02,
       2.95000e+02, 6.82400e+02, 8.37400e+02, 2.37800e+02, 1.60000e+02,
       8.55700e+02, 6.05700e+02, 2.41670e+03, 1.80640e+03, 4.05700e+02,
       1.51690e+03, 1.65830e+03, 2.68580e+03, 8.79100e+02, 3.65940e+03,
       9.34400e+02, 8.77700e+02, 9.22100e+02, 1.54180e+03, 1.00000e+03,
       5.74400e+02, 5.06000e+01, 2.05550e+03, 5.85000e+03, 4.85000e+03,
       1.73600e+02, 9.85000e+03, 5.09000e+01, 2.30000e+03, 6.73000e+02,
       4.05900e+02, 2.14330e+03, 1.55000e+03, 9.86500e+02, 5.83400e+02,
       4.48050e+03, 3.37990e+03, 3.23600e+02, 6.25730e+03, 2.49770e+03,
       1.17870e+03, 1.44700e+03, 1.72950e+03, 1.47620e+03, 1.70800e+03,
       1.07750e+03, 1.13510e+03, 1.04430e+03, 6.40700e+02, 5.23600e+02,
       4.87700e+02, 7.13720e+03, 1.20500e+03, 4.00000e+02, 1.01998e+04,
       8.50000e+02, 9.46000e+01, 1.85000e+03, 8.40000e+02, 1.04980e+03,
       9.40000e+02, 4.94470e+03, 3.75000e+02, 1.49950e+03, 2.09900e+02,
       2.09800e+02, 2.10000e+02, 2.09500e+02, 7.89200e+02, 3.50000e+03])

In [39]:
pd.set_option("display.max_rows", None)

### Out of 1119 rows, totalSpent is non-null only for 684 rows

In [53]:
receipts.totalSpent.value_counts().sum()

np.int64(684)

### There are 15 records with totalSpent value as 0

In [58]:
#receipts.totalSpent.value_counts()
value_counts = receipts.totalSpent.value_counts()
count_of_zero = value_counts[0]
print(count_of_zero)

15

In [59]:
#rewardsReceiptStatus percentage split
rewardsReceiptStatus_percentage = 100 * (receipts.rewardsReceiptStatus.value_counts() / len(receipts))
rewardsReceiptStatus_percentage

rewardsReceiptStatus
FINISHED     46.291332
SUBMITTED    38.784629
REJECTED      6.344951
PENDING       4.468275
FLAGGED       4.110813
Name: count, dtype: float64

In [60]:
receipts.bonusPointsEarnedReason.value_counts()

bonusPointsEarnedReason
All-receipts receipt bonus                                                             183
Receipt number 1 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)    119
COMPLETE_NONPARTNER_RECEIPT                                                             71
COMPLETE_PARTNER_RECEIPT                                                                39
Receipt number 3 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     31
Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     30
Receipt number 5 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     27
Receipt number 4 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     26
Receipt number 6 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     18
Name: count, dtype: int64

### Checking for duplicate _id - no duplicate _id found in receipt dataframe

In [61]:
receipt_id = set(receipts['_id'].str['$oid'])
len(receipt_id)

1119

### Receipts Data Quality Check Summary:

1. Missing Data Values - multiple columns have missing data that needs to be investigated
2. Check for Duplicates in Specific Columns - all the _id are unique
3. Check for Data Types and Consistency - converting UNIX timestamp date columns datetime
4. Data Integrity Check
5. Check for percentage of missing data
6. Check for Consistency in Categorical Data - For columns rewardsReceiptStatus, bonusPointsEarnedReason using value_counts()

### Users Data

In [66]:
#loading the Users data
users = pd.read_json(r'users.json', lines=True, encoding='utf-8')

In [67]:
#converting the date columns into datetime
users['createdDate'] = users['createdDate'].apply(lambda x: date_converter(x))
users['lastLogin'] = users['lastLogin'].apply(lambda x: date_converter(x))

In [68]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,2021-01-03 15:25:30,2021-01-03 15:25:30,consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI

In [69]:
users.createdDate.value_counts()

createdDate
2014-12-19 14:21:22    20
2020-12-03 22:08:03    20
2021-01-06 15:03:54    18
2017-09-19 14:07:54    18
2020-11-05 15:17:09    18
                       ..
2021-02-11 16:17:07     1
2021-02-11 16:17:53     1
2021-02-12 14:10:49     1
2020-11-04 22:29:33     1
2017-07-11 15:13:11     1
Name: count, Length: 212, dtype: int64

In [70]:
users['lastLogin']  = pd.to_datetime(users['lastLogin'])
users['createdDate'] = pd.to_datetime(users['createdDate'])
users['time_difference'] = users['lastLogin'] - users['createdDate']
users['time_difference'].min()

Timedelta('0 days 00:00:00')

In [71]:
users['time_difference'].max()

Timedelta('2268 days 02:31:01')

### Analysis of Time Difference Between lastLogin and createdDate
Upon reviewing the time differences between the lastLogin and createdDate fields, we observed the following:

Maximum Time Difference: The largest time gap between a userâ€™s lastLogin and createdDate is 2268 days.

Minimum Time Difference: The smallest time gap is 0 days, indicating that some users logged in immediately after account creation.

It is important to note that in all records, the createdDate is always greater than or equal to the lastLogin date, which aligns with expectations and confirms the data integrity. Therefore, there are no significant issues or discrepancies related to the date fields.

In [72]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              495 non-null    object
 1   active           495 non-null    bool
 2   createdDate      495 non-null    datetime64[ns]
 3   lastLogin        433 non-null    datetime64[ns]
 4   role             495 non-null    object
 5   signUpSource     447 non-null    object
 6   state            439 non-null    object
 7   time_difference  433 non-null    timedelta64[ns]
dtypes: bool(1), datetime64[ns](2), object(4), timedelta64[ns](1)
memory usage: 27.7+ KB

In [74]:
#checking for unique values of _id. Only 212 _id are unique
users_id = set(users['_id'].str['$oid'])
len(users_id)

212

### Duplicate Data
This implies that there are duplicate _id in the users data

In [75]:
#total null values per column
users.isnull().sum()

_id                 0
active              0
createdDate         0
lastLogin          62
role                0
signUpSource       48
state              56
time_difference    62
dtype: int64

In [76]:
#Roles percentage split
role_percentage = 100 * (users.role.value_counts() / len(users))
role_percentage

role
consumer       83.434343
fetch-staff    16.565657
Name: count, dtype: float64

Consumer make up ~83% of user Signups, and the rest are Signups by Fetch Staff

In [77]:
#Most of the users are Active, with the exception of 1
users.active.value_counts()

active
True     494
False      1
Name: count, dtype: int64

In [79]:
#Count of Users belonging to respective states
users.state.value_counts()

state
WI    396
NH     20
AL     12
OH      5
IL      3
KY      1
CO      1
SC      1
Name: count, dtype: int64

In [80]:
state_percentage = 100 * (users.state.value_counts() / len(users))
state_percentage

state
WI    80.000000
NH     4.040404
AL     2.424242
OH     1.010101
IL     0.606061
KY     0.202020
CO     0.202020
SC     0.202020
Name: count, dtype: float64

Maximum(80%) of the users that signed up are from Wisconsin. There are a total of 8 states from which the users are present

lastLogin and createdDate had a Unix timestamp format, which had to be converted to datetime format; also, lastLogin has a lot of nan values

### Users Data Quality Issues:

1. Missing/Null values for columns - lastLogin, signUpSource, state
2. Check for Duplicates in Specific Columns - _id column is not unique and has a lot of duplicate data, which is a major issue
3. lostLogin and createDate are in a UNIX timestamp, which had to be converted into datetime format
4. Check for Consistency in Categorical Data - For columns state,role, and active using value_counts() and nunique()

### BRAND DATA

In [83]:
#Loading the brand data
brands = pd.read_json(r'brands.json', lines=True, encoding='utf-8')

In [84]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [85]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

In [86]:
# Calculate the percentage of null values in each column
null_percentage = brands.isnull().mean() * 100
print(null_percentage)

_id              0.000000
barcode          0.000000
category        13.281919
categoryCode    55.698372
cpg              0.000000
name             0.000000
topBrand        52.442159
brandCode       20.051414
dtype: float64

Huge Number of Null percentage - 55% category code and 52% of topBrand are missing

In [87]:
brands.category.value_counts().sum()

np.int64(1012)

In [88]:
#Categories Percentage
category_percentage = 100 * (brands.category.value_counts() / len(brands))
category_percentage

category
Baking                         31.619537
Beer Wine Spirits               7.712082
Snacks                          6.426735
Candy & Sweets                  6.083976
Beverages                       5.398458
Magazines                       3.770351
Health & Wellness               3.770351
Breakfast & Cereal              3.427592
Grocery                         3.341902
Dairy                           2.827763
Condiments & Sauces             2.313625
Frozen                          2.056555
Personal Care                   1.713796
Baby                            1.542416
Canned Goods & Soups            1.028278
Beauty                          0.771208
Beauty & Personal Care          0.514139
Cleaning & Home Improvement     0.514139
Deli                            0.514139
Household                       0.428449
Bread & Bakery                  0.428449
Dairy & Refrigerated            0.428449
Outdoor                         0.085690
Name: count, dtype: float64

Baking is the category with the most records(31%)

In [89]:
brands.brandCode.value_counts()

brandCode
                                 35
HUGGIES                           2
GOODNITES                         2
TEST BRANDCODE @1612366146051     1
TEST BRANDCODE @1612366146827     1
                                 ..
BLUE MOON                         1
DIPPIN DOTS CEREAL                1
TEST BRANDCODE @1598639215217     1
LIPTON TEA Leaves                 1
IZZE                              1
Name: count, Length: 897, dtype: int64

brandCode having most counts is null or missing

In [90]:
# Check for duplicates in the entire DataFrame
duplicates = brands[brands['_id'].str['$oid'].duplicated()]

# Display duplicates
print(duplicates)

Empty DataFrame
Columns: [_id, barcode, category, categoryCode, cpg, name, topBrand, brandCode]
Index: []

None of the _id values in the dictionary column are duplicated in brands dataframe

### Brand Data Quality Check Summary:

1. Missing Data - columns like topBrand and categoryCode have huge number of missing data
2. Check for Duplicates in Specific Columns - None of the _id values in the dictionary column are duplicated in brands dataframe
3. Check for Consistency in Categorical Data - For columns brandCode using value_counts() and nunique()